@font-face {
    font-family: Norse;
    src: url(Norse-Bold.otf);
}

html, 
body {
    height: 100%;
    margin: 0;
    background-color: black;
   
    
}

.page{
    min-width: 900px;
    display: flex;
    aspect-ratio: 4/3;
    margin: auto;
    width: 70%;
}

.image{
    flex-grow: 2;
    width: 35%;
    background-image: url(marek-piwnicki-UEbFDRf9R-c-unsplash.jpg);
    flex-direction: column;
    height: 100%;
    background-size: cover;
    box-sizing: border-box;
    justify-content: space-between;
    display: flex;
    padding-top: 200px;

}

.title {
    background-color: rgb(64, 64, 64, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 160px;
}

.title p{
    font-family: Norse;
    font-size: 5rem;
    color: white;
    margin-left: 24px;
}   

.title img {
    max-width: 20%;
    height: auto;
    margin: 0px;
    padding: 0px;
}



.image-credit{
    color : #725bad;
    font-weight: bold;
    text-align: center;
    background-color: rgb(256,256,256,0.6);
}


.user-interface {
    flex-grow: 3;
    width: 65%;    
    background-color: #f9fafb;
    display: flex;
    flex-direction: column;
}

.introductory-text {
    height: 40%;
    background-color: #f9fafb;
    font-weight: bold;
    font-size: 1.5rem;
    flex: 1 1 auto;
    padding: 80px 60px 40px 40px; 
    box-sizing: border-box;
}

.form {
    height: 60%;
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
}

.user-inputs {
    display: flex;
    flex-direction: column;
    margin-bottom: 50px;
    background-color: white;
    box-shadow: 0 4px 2px -2px gray;
    border-top: 2px solid #fafafa;
    padding-left: 40px;
}

.line-one {
    display: flex;
}

.line-two {
    display: flex;
}

.line-three {
    display:flex;
}

.first-name {
    display: flex;
    flex-direction: column;
    
    
}

.last-name {
    display: flex;
    flex-direction: column;
    padding-left: 40px;
}

.email {
    display: flex;
    flex-direction: column;
    
}

.phone {
    display: flex;
    flex-direction: column;
    padding-left: 40px;
}

.password-1 {
    display: flex;
    flex-direction: column;
    
}

.password-1 p {
    color: red;
    font-size: 0.7rem;
    margin-top: 0;
}

.password-2 {
    display: flex;
    flex-direction: column;
    padding-left: 40px;
}

input {
    appearance: none;
    border-radius: 2px;
    margin-bottom: 10px;
    border: 1px solid #f3f3f5;
}

input:focus {
    outline-style: none;
    border: 2px solid  #3b65dd !important;
    box-shadow: 2px 2px 2px lightgray;
}

label{
    font-size: 0.6rem;
}

.password-1 input {
    margin-bottom: 0;
}

.button-zone {
    background-color: #f9fafb;
    padding-left: 40px;
}

button {
    background-color: #725bad;
    color: white;
    font-size: large;
    font-weight: bolder;
    padding: 12px 36px;
    border-radius: 5px;
    box-shadow: 2px 2px 2px;
}

strong {
    color: #725bad;
    font-weight: bold;
}