html, 
body {
    height: 100%;
    margin: 0;
}

.page{
    margin: 0 240px;
    display: flex;
    height: 100%;
}

.image{
    flex-grow: 1;
    background-color: aqua;
    flex-direction: column;
    height: 100%;
}

.user-interface {
    flex-grow: 2;
    background-color: aquamarine;
}